
  
  .contenedor {
    position: relative;
    height: 290px;
    width: 290px;
    margin: 50px 20px;
    float: left;
  }
  
  .contenedor img {
    position: absolute;
    left: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .contenedor img.top:hover {
    opacity: 0;
  }
  img{
    background-color: white;
  }
  .top{
    width: 700px;
    height: 500px;
  }






  
  
