* {
    padding: 0;
    margin: 0;
}
#copyright {
    margin-right: 30px;
}
footer {
    height: 15vh;
    background-color: #111224;
    color: rgb(131, 138, 171);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer > ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 30px;
}
a > img {
    width: 44px;
    margin: 0px 10px 0px 10px;
}